<section class="card flex items-center justify-center">
  <div class="w-full max-w-md bg-secondary-50 shadow-amber-950 shadow-2xl rounded-xl p-8">
    <h1 class="text-3xl font-bold text-center mb-4 text-secondary-100">Forgot Password</h1>

    <p class="text-sm text-center text-slate-400 mb-6">
      Enter your email address and we will send you a reset link.
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label class="block text-sm text-secondary-100 font-medium mb-2"> Email Address </label>

        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
        />

        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-sm text-red-600 mt-1"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
        </div>
      </div>
      <div *ngIf="rateLimitMessage()" class="text-sm text-amber-500">
        {{ rateLimitMessage() }}
      </div>

      <button
        type="submit"
        [disabled]="form.invalid || isSubmitting()"
        class="w-full bg-tertiary enabled:hover:bg-sky-600 text-slate-100 font-semibold rounded-lg py-3 mb-6 transition cursor-not-allowed disabled:opacity-50 enabled:cursor-pointer"
      >
        Send Reset Link
      </button>
      <div class="text-center">
        <a routerLink="/login" class="text-tertiary font-semibold hover:underline">
          Back to Login
        </a>
      </div>
    </form>
  </div>
</section>
<app-status-modal #modal />
