# version: '3.9'
services:
  angular-app:
    container_name: unlocked-products
    build: .
    ports:
      - '8888:8888'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
