[build]
  command = "npm run build"
  publish = "dist/Angular-21/browser"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true
