[build]
  command = "npm run build"
  publish = "dist/unlocked-products"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true
