<section class="card flex items-center justify-center">
  <div class="w-full max-w-md bg-secondary-50 shadow-amber-950 shadow-2xl rounded-xl p-8">
    <button
      appBack
      fallbackRoute="/"
      class="fixed top-[80px] z-[99] inline-flex items-center justify-center gap-1 px-2 py-1 mt-0.5 rounded-lg bg-white/90 backdrop-blur-md shadow-xl hover:scale-105 active:scale-95 transition cursor-pointer animate-pulse"
    >
      <span class="text-lg font-bold leading-none flex items-center justify-center"> ← </span>

      <span class="text-base font-bold leading-none flex items-center justify-center pr-2">
        Back
      </span>
    </button>
    <h1 class="text-4xl font-bold text-center mb-6 text-secondary-100">Login</h1>
    <!-- <div class="flex justify-center mb-6">
      <img src="./../../../assets/images/logo.svg" alt="UnlockedProducts logo" width="280" />
    </div> -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label class="block text-sm text-secondary-100 font-medium mb-2">Email Address</label>
        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-sm text-red-600 mt-1"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
        </div>
      </div>
      <div>
        <label class="block text-sm text-secondary-100 font-medium mb-2">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="••••••"
          class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-sm text-red-600 mt-1"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters.</div>
        </div>
      </div>
      <div class="text-right mt-2">
        <a
          routerLink="/forgot-password"
          class="text-xs text-tertiary hover:underline cursor-pointer"
        >
          Forgot password?
        </a>
      </div>
      <button
        type="submit"
        class="w-full bg-tertiary enabled:hover:bg-sky-600 text-slate-100 font-semibold rounded-lg py-3 mb-6 transition cursor-not-allowed disabled:opacity-50 enabled:cursor-pointer"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>

      <div class="text-center text-sm text-secondary-100 mt-4">
        Don't have an account?
        <a
          routerLink="/register"
          class="text-tertiary font-semibold hover:underline ml-1 cursor-pointer"
        >
          Register
        </a>
      </div>
    </form>
  </div>
</section>
<app-status-modal #modal />
