<section class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md bg-secondary-50 shadow-amber-950 shadow-2xl rounded-xl p-8">
    <h1 class="text-4xl font-bold text-center mb-4 text-secondary-100">Login</h1>
    <div class="flex justify-center mb-6">
      <img src="./../../../assets/images/logo.svg" alt="UnlockedProducts logo" width="280" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label class="block text-sm text-secondary-100 font-medium mb-2">Email Address</label>
        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-sm text-red-600 mt-1"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
        </div>
      </div>
      <div>
        <label class="block text-sm text-secondary-100 font-medium mb-2">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="••••••"
          class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-sm text-red-600 mt-1"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters.</div>
        </div>
      </div>
      <button
        type="submit"
        class="w-full bg-tertiary enabled:hover:bg-sky-600 text-slate-950 font-semibold rounded-lg py-3 mb-6 transition cursor-not-allowed disabled:opacity-50 enabled:cursor-pointer"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
      <div *ngIf="authError()" class="text-sm text-red-600 mt-2">{{ authError() }}</div>
    </form>
  </div>
  @if (showSpinner()) {
  <div
    class="fixed inset-0 z-50 bg-slate-950/80 backdrop-blur-none flex items-center justify-center"
  >
    <div class="text-center">
      <div
        class="w-12 h-12 border-4 border-slate-700 border-t-sky-400 rounded-full animate-spin mx-auto mb-4"
      ></div>
      <div class="text-tertiary text-sm">
        <div>Loading...</div>
        <div>Please wait. This might take sometime.</div>
      </div>
    </div>
  </div>
  }
</section>
