<header>
  <div
    class="fixed inset-x-0 top-0 z-100 backdrop-blur-md bg-secondary-100/80 border-b border-white/10 shadow-[0_20px_50px_rgba(0,0,0,0.45)]"
  >
    <div class="main-container px-4 text-gray-200">
      <nav class="">
        <div class="mx-auto">
          <div class="flex items-center text-xl font-medium justify-between">
            <div class="lg:hidden">
              <button
                #menuButton
                (click)="toggleMenu()"
                class="p-2 rounded-xl hover:bg-white/5 transition"
              >
                <svg
                  class="w-9 h-9 text-beige-darker"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
              </button>
            </div>
            <div class="flex justify-center lg:justify-start">
              <a routerLink="/" class="transition hover:scale-[1.02]">
                <img
                  src="./../../../assets/images/logo.svg"
                  alt="UnlockedProducts logo"
                  width="260"
                />
              </a>
            </div>
            <div class="hidden lg:flex items-center gap-2">
              <!-- <a
                routerLink="/"
                routerLinkActive="bg-beige/80 text-chestnut"
                class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
              >
                Home
              </a> -->
              <a
                routerLink="/about"
                routerLinkActive="bg-beige/80 text-chestnut"
                class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
              >
                About
              </a>

              <a
                routerLink="/contact"
                routerLinkActive="bg-beige/80 text-chestnut"
                class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
              >
                Contact
              </a>

              @if (user()?.role?.includes(roles.ADMIN)) {
                <a
                  routerLink="/add-product"
                  routerLinkActive="bg-beige/80 text-chestnut"
                  class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
                >
                  Add Product
                </a>
              }
            </div>

            <div class="relative">
              <button
                #profileButton
                (click)="togglePopup()"
                class="w-12 h-12 lg:ml-53 rounded-full bg-beige-darker/80 backdrop-blur flex items-center justify-center text-tertiary shadow-lg hover:bg-sky-400 hover:text-white transition-all duration-300 cursor-pointer"
              >
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </button>
              @if (popupOpen()) {
                <div
                  #profilePopup
                  class="absolute right-[-16px] pb-2 mt-3 w-70 rounded-bl-xl bg-secondary-50 shadow-[0_25px_60px_rgba(0,0,0,0.5)] border border-white/10 z-50 overflow-hidden animate-[fadeIn_0.15s_ease-out]"
                >
                  <div
                    class="px-5 py-4 border-b border-black/10 bg-gradient-to-r from-sky-50 to-beige-light"
                  >
                    <div class="flex items-center gap-3">
                      <div
                        class="h-10 w-10 rounded-full bg-gradient-to-br from-sky-500 to-indigo-500 flex items-center justify-center text-white font-bold shadow-md"
                      >
                        {{ (user()?.name || 'U')[0] }}
                      </div>

                      <div>
                        <p class="text-sm text-slate-500">Welcome</p>
                        <p class="text-base font-semibold text-gray-900 truncate">
                          {{ user()?.name || 'Guest User' }}
                        </p>
                      </div>
                    </div>
                  </div>
                  @if (user()?.role?.includes(roles.ADMIN)) {
                    <div class="px-5 py-2 space-y-2 border-b border-black/10">
                      <div
                        class="flex justify-between items-center rounded-xl bg-beige-light px-4 py-2 shadow-inner"
                      >
                        <span class="text-sm font-medium text-slate-600">Active Users</span>
                        <span class="text-lg font-bold text-sky-600">
                          {{ activityStats()?.activeUsers?.[0]?.count || 0 }}
                        </span>
                      </div>

                      <div
                        class="flex justify-between items-center rounded-xl bg-beige-light px-4 py-2 shadow-inner"
                      >
                        <span class="text-sm font-medium text-slate-600">Total Visitors</span>
                        <span class="text-lg font-bold text-indigo-600">
                          {{ activityStats()?.totalUsers?.[0]?.count || 0 }}
                        </span>
                      </div>
                    </div>
                  }

                  <div class="divide-y divide-black/10">
                    @if (!user()?.name) {
                      <div class="px-5 py-2 space-y-2 border-b border-black/10">
                        <div
                          class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                        >
                          <a
                            routerLink="/login"
                            routerLinkActive="bg-white rounded-xl text-chestnut! pointer-events-none!"
                            (click)="closePopup()"
                            class="block w-full text-center px-6 py-3 text-tertiary hover:bg-beige-light hover:text-sky-400 hover:bg-red-50 hover:rounded-xl"
                          >
                            Login
                          </a>
                        </div>
                      </div>

                      <div class="px-5 py-2 space-y-2 border-b border-black/10">
                        <div
                          class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                        >
                          <a
                            routerLink="/register"
                            routerLinkActive="bg-white rounded-xl text-chestnut! pointer-events-none!"
                            (click)="closePopup()"
                            class="block w-full text-center px-6 py-3 text-tertiary hover:bg-beige-light hover:text-sky-400 hover:bg-red-50 hover:rounded-xl"
                          >
                            Register
                          </a>
                        </div>
                      </div>
                    } @else {
                      <div class="px-5 pt-2 pb-4 space-y-3 border-b border-black/10">
                        <div
                          class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                        >
                          <button
                            (click)="logout()"
                            class="w-full text-center px-6 py-2 text-red-700 hover:bg-red-50 hover:rounded-xl cursor-pointer"
                          >
                            Logout
                          </button>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
          @if (isMenuOpen()) {
            <div
              class="fixed w-70 py-2 inset-x-0 z-50 lg:hidden rounded-br-xl bg-secondary-50 backdrop-blur-xl border-b border-white/10 shadow-[0_40px_80px_rgba(0,0,0,0.6)] animate-[slideDown_0.25s_ease-out]"
            >
              <!-- <a
              routerLink="/"
              routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
              class="block px-2 py-2"
              (click)="isMenuOpen = false"
              >Home</a
            > -->
              <!-- <div class="px-5 py-2 space-y-2 border-b border-black/10">
                <div
                  class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                >
                  <a
                    routerLink="/"
                    routerLinkActive="bg-white rounded text-chestnut!"
                    (click)="this.isMenuOpen.set(false)"
                    class="block w-full text-center px-6 py-3 text-tertiary rounded-xl text-lg font-medium"
                  >
                    Home
                  </a>
                </div>
              </div> -->
              <div class="px-5 py-2 space-y-2 border-b border-black/10">
                <div
                  class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                >
                  <a
                    routerLink="/about"
                    routerLinkActive="bg-white rounded text-chestnut!"
                    (click)="this.isMenuOpen.set(false)"
                    class="block w-full text-center px-6 py-3 text-tertiary rounded-xl text-lg font-medium"
                  >
                    About
                  </a>
                </div>
              </div>
              <!-- <a
                routerLink="/about"
                routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
                (click)="this.isMenuOpen.set(false)"
                class="flex items-center gap-3 px-5 py-4 rounded-xl text-base font-medium hover:bg-white/10 transition"
              >
                About
              </a> -->
              <div class="px-5 py-2 space-y-2 border-b border-black/10">
                <div
                  class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                >
                  <a
                    routerLink="/contact"
                    routerLinkActive="bg-white rounded  text-chestnut!"
                    (click)="this.isMenuOpen.set(false)"
                    class="block w-full text-center px-6 py-3 text-tertiary rounded-xl text-lg font-medium"
                  >
                    Contact
                  </a>
                </div>
              </div>
              <!-- <a
                routerLink="/contact"
                routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
                class="flex items-center gap-3 px-5 py-4 rounded-xl text-base font-medium hover:bg-white/10 transition"
                (click)="this.isMenuOpen.set(false)"
                >Contact</a
              > -->
              @if (user()?.role?.includes(roles.ADMIN)) {
                <div class="px-5 py-2 space-y-2 border-b border-black/10">
                  <div
                    class="flex justify-between items-center rounded-xl bg-beige-light shadow-inner"
                  >
                    <a
                      routerLink="/add-product"
                      routerLinkActive="bg-white rounded  text-chestnut!"
                      (click)="this.isMenuOpen.set(false)"
                      class="block w-full text-center px-6 py-3 text-tertiary rounded-xl text-lg font-medium"
                    >
                      Add Product
                    </a>
                  </div>
                </div>
                <!-- <a
                  routerLink="/add-product"
                  routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
                  class="flex items-center gap-3 px-5 py-4 rounded-xl text-base font-medium hover:bg-white/10 transition"
                  (click)="this.isMenuOpen.set(false)"
                  >Add Product</a
                > -->
              }
            </div>
          }
        </div>
      </nav>
    </div>
  </div>
</header>
