<header>
  <div
    class="fixed inset-x-0 top-0 z-100 backdrop-blur-md bg-secondary-100/80 border-b border-white/10 shadow-[0_20px_50px_rgba(0,0,0,0.45)]"
  >
    <div class="main-container px-4 text-gray-200">
      <nav class="">
        <div class="mx-auto">
          <div class="flex items-center text-xl font-medium justify-between">
            <div class="lg:hidden">
              <button
                #menuButton
                (click)="toggleMenu()"
                class="p-2 rounded-xl hover:bg-white/5 transition"
              >
                <svg
                  class="w-9 h-9 text-beige-darker"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
              </button>
            </div>
            <div class="flex justify-center lg:justify-start">
              <a routerLink="/" class="transition hover:scale-[1.02]">
                <img
                  src="./../../../assets/images/logo.svg"
                  alt="UnlockedProducts logo"
                  width="260"
                />
              </a>
            </div>
            <div class="hidden lg:flex items-center gap-2">
              <a
                routerLink="/about"
                routerLinkActive="bg-beige/80 text-chestnut"
                class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
              >
                About
              </a>

              <a
                routerLink="/contact"
                routerLinkActive="bg-beige/80 text-chestnut"
                class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
              >
                Contact
              </a>

              @if (user()?.role?.includes(roles.ADMIN)) {
                <a
                  routerLink="/add-product"
                  routerLinkActive="bg-beige/80 text-chestnut"
                  class="relative px-8 py-3 rounded-xl hover:text-sky-400 transition"
                >
                  Add Product
                </a>
              }
            </div>

            <div class="relative">
              <button
                #profileButton
                (click)="togglePopup()"
                class="w-12 h-12 lg:ml-53 rounded-full bg-beige-darker/80 backdrop-blur flex items-center justify-center text-tertiary shadow-lg hover:bg-sky-400 hover:text-white transition-all duration-300 cursor-pointer"
              >
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </button>
              @if (popupOpen()) {
                <div
                  #profilePopup
                  class="absolute right-0 mt-3 w-52 rounded-xl bg-secondary-50 shadow-[0_25px_60px_rgba(0,0,0,0.5)] border border-white/10 z-50 overflow-hidden"
                >
                  <div
                    class="px-6 py-4 text-lg font-semibold text-gray-800 border-b border-black/10"
                  >
                    Hello, {{ user()?.name || 'User' }}
                  </div>

                  <div class="divide-y divide-black/10">
                    @if (!user()?.name) {
                      <a
                        routerLink="/login"
                        routerLinkActive="text-chestnut! pointer-events-none!"
                        (click)="closePopup()"
                        class="block px-6 py-3 text-tertiary hover:bg-beige-light hover:text-sky-400 transition"
                      >
                        Login
                      </a>

                      <a
                        routerLink="/register"
                        routerLinkActive="text-chestnut! pointer-events-none!"
                        (click)="closePopup()"
                        class="block px-6 py-3 text-tertiary hover:bg-beige-light hover:text-sky-400 transition"
                      >
                        Register
                      </a>
                    } @else {
                      <button
                        (click)="logout()"
                        class="w-full text-left px-6 py-3 text-red-700 hover:bg-red-50 transition cursor-pointer"
                      >
                        Logout
                      </button>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
          <div
            [class.hidden]="!isMenuOpen()"
            class="lg:hidden my-4 rounded-2xl bg-secondary-100/95 backdrop-blur border border-white/10 shadow-xl p-4 space-y-2"
          >
            <!-- <a
              routerLink="/"
              routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
              class="block px-2 py-2"
              (click)="isMenuOpen = false"
              >Home</a
            > -->
            <a
              routerLink="/about"
              routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
              (click)="this.isMenuOpen.set(false)"
              class="block rounded-xl px-4 py-3 hover:bg-white/5 transition"
            >
              About
            </a>

            <a
              routerLink="/contact"
              routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
              class="block rounded-xl px-4 py-3 hover:bg-white/5 transition"
              (click)="this.isMenuOpen.set(false)"
              >Contact</a
            >
            @if (user()?.role?.includes(roles.ADMIN)) {
              <a
                routerLink="/add-product"
                routerLinkActive="bg-white rounded hover:text-gray-700! text-chestnut!"
                class="block rounded-xl px-4 py-3 hover:bg-white/5 transition"
                (click)="this.isMenuOpen.set(false)"
                >Add Product</a
              >
            }
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
