@keyframes carousel {
  0%,
  15% {
    transform: translateX(0%);
  }
  20%,
  35% {
    transform: translateX(-20%);
  }
  40%,
  55% {
    transform: translateX(-40%);
  }
  60%,
  75% {
    transform: translateX(-60%);
  }
  80%,
  100% {
    transform: translateX(-80%);
  }
}

.animate-carousel {
  animation: carousel 25s infinite ease-in-out;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: #9c8062;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dot:hover {
  background: white;
}
.dot-active {
  background: #38bdf8;
  transform: scale(1.4);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.animate-fade-in {
  animation: fadeSlide 0.2s ease-out;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
