<section class="card">
  <div class="max-w-5xl mx-auto space-y-12">
    <!-- <h1 class="text-4xl font-bold mb-6 border-b-2 pb-6 text-shadow-lg">
      <span class="text-sky-400">Welcome, </span>{{ user?.name }}
    </h1> -->
    <h2
      class="text-2xl font-bold text-center mb-4 text-tertiary tracking-wider drop-shadow-[0_2px_4px_rgba(0,0,0,0.25)] animate-text-outward-alternate"
    >
      Top Rated Products
    </h2>

    @if (isLoading()) {
      <div class="transition-opacity duration-300" [class.opacity-0]="!isLoading()">
        <div class="rounded-2xl bg-beige-darker p-10 space-y-6">
          <div class="skeleton h-[24vh] sm:h-[46vh] rounded-2xl"></div>
          <div class="skeleton h-6 w-2/3 mx-auto rounded"></div>
          <div class="skeleton h-4 w-3/4 mx-auto rounded"></div>
          <div class="skeleton h-4 w-1/2 mx-auto rounded"></div>
          <div class="skeleton h-10 w-40 mx-auto rounded-xl"></div>
        </div>
      </div>
    } @else if (topProducts().length > 0) {
      <div class="transition-opacity duration-300" [class.opacity-0]="isLoading()">
        <div
          class="relative overflow-hidden rounded-2xl bg-beige-darker shadow-[0_40px_60px_rgba(0,0,0,0.45)] border border-black/10"
        >
          <!-- <div
            class="flex transition-transform duration-700 ease-[cubic-bezier(.4,0,.2,1)]"
            [style.width.%]="topProducts().length * 100"
            [style.transform]="'translateX(-' + activeIndex() * (100 / topProducts().length) + '%)'"
          > -->
          <div
            class="flex transition-transform duration-700 ease-[cubic-bezier(.4,0,.2,1)] touch-pan-y cursor-grab active:cursor-grabbing"
            [style.width.%]="topProducts().length * 100"
            [style.transform]="'translateX(-' + activeIndex() * (100 / topProducts().length) + '%)'"
            (touchstart)="onCarouselTouchStart($event)"
            (touchend)="onCarouselTouchEnd($event)"
            (mousedown)="onCarouselMouseDown($event)"
            (mouseup)="onCarouselMouseUp($event)"
          >
            @for (product of topProducts(); track $index) {
              <div
                class="w-full h-auto px-10 pt-10 max-sm:pt-6 max-sm:px-6 pb-4 flex flex-col text-center space-y-4"
              >
                @if (product?.imageBase64?.length) {
                  <img
                    [src]="product?.imageBase64?.[0]"
                    class="h-[24vh] sm:h-[46vh] w-full object-contain rounded-2xl bg-black cursor-zoom-in shadow-[0_25px_20px_rgba(0,0,0,0.6)] hover:scale-[1.01] transition"
                    (click)="
                      openImageZoom($event, product.imageBase64, cardImageIndex(product.id!))
                    "
                  />
                } @else {
                  <img
                    src="./../../../../assets/images/placeholder_product_dark.svg"
                    class="h-[24vh] sm:h-[46vh] w-full object-contain rounded-2xl bg-black"
                  />
                }
                <h1 class="text-2xl sm:text-3xl font-bold text-tertiary tracking-wide">
                  {{ product.productName }}
                </h1>

                <!-- <p class="text-base font-medium text-tertiary/80">
                <span class="font-extrabold">Product Description: </span>
                {{ product.productSummary }}
              </p> -->
                <p class="text-base font-medium text-tertiary/80 mb-0">
                  <!-- <span class="font-extrabold">Product Description: </span> -->
                  {{ getSummary(product.productSummary, product?.id!) }}
                </p>

                @if (product?.productSummary?.length! > SUMMARY_LIMIT) {
                  <div class="mb-0">
                    <button
                      class="text-xs font-semibold text-sky-400 hover:text-sky-500 transition cursor-pointer animate-pulse p-2"
                      (click)="toggleSummary(product?.id!)"
                    >
                      {{ isSummaryExpanded(product?.id!) ? 'Show Less ↑' : 'Show More ↓' }}
                    </button>
                  </div>
                }

                <!-- <p class="text-sm leading-relaxed text-secondary-100 max-w-3xl mx-auto">
                <span class="font-extrabold">Editor Review: </span>
                {{ product.editorReview }}
              </p> -->
                <!-- <p class="text-sm leading-relaxed text-secondary-100 max-w-3xl mx-auto mb-1">
                <span class="font-extrabold">Editor Review: </span>
                {{ getReview(product.editorReview, product?.id!) }}
              </p>

              @if (product?.editorReview?.length! > REVIEW_LIMIT) {
                <button
                  class="text-xs font-semibold text-sky-400 hover:text-sky-500 transition cursor-pointer"
                  (click)="toggleReview(product?.id!)"
                >
                  {{ isReviewExpanded(product?.id!) ? 'Show Less ↑' : 'Show More ↓' }}
                </button>
              } -->

                <!-- <div class="text-yellow-400 text-lg font-semibold">
                  {{ product.editorRating }} ★
                </div> -->
                <div class="mt-auto">
                  <div class="text-yellow-400 text-lg font-semibold">
                    {{ product.editorRating }} ★
                  </div>
                  <!-- <button
                    class="mx-auto block px-8 py-2 rounded-xl bg-tertiary text-white text-sm font-semibold hover:bg-tertiary/90 transition shadow-lg cursor-pointer"
                    (click)="navigateToProductPage(product); $event.stopPropagation()"
                  >
                    View Details →
                  </button> -->
                  <button
                    class="mx-auto w-full md:w-80 block px-8 py-2 rounded-xl bg-white text-tertiary border-black/10 text-sm font-semibold shadow-lg transition-all duration-300 border hover:scale-105 cursor-pointer"
                    (click)="navigateToProductPage(product); $event.stopPropagation()"
                  >
                    View Details →
                  </button>
                </div>
              </div>
            }
          </div>
          <div class="flex items-center justify-center gap-4 pb-4">
            <button
              (click)="toggleAutoPlay()"
              class="h-8 w-8 rounded-full flex items-center justify-center bg-beige-lighter border border-black/10 shadow-lg hover:bg-tertiary hover:text-white transition cursor-pointer"
              [attr.aria-label]="isPaused ? 'Play carousel' : 'Pause carousel'"
            >
              <span class="text-sm">
                {{ isPaused ? '▶' : '❚❚' }}
              </span>
            </button>
            <div class="flex gap-3">
              @for (item of topProducts(); track $index) {
                <button
                  (click)="goTo($index)"
                  class="dot"
                  [class.dot-active]="$index === activeIndex()"
                  aria-label="Go to slide"
                ></button>
              }
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="text-lg text-center">No products available.</div>
    }

    <!-- <div class="flex flex-col gap-4 mb-6 pt-0 sm:flex-row sm:items-center sm:justify-between">
      <h2
        class="text-2xl font-bold text-tertiary tracking-wider drop-shadow-[0_2px_4px_rgba(0,0,0,0.25)] text-center sm:text-left animate-bounce"
      >
        All Products
      </h2>

      <div class="relative w-full sm:max-w-xs">
        <input
          type="text"
          placeholder="Search products..."
          class="w-full rounded-xl bg-beige-lighter border border-black/10 px-4 py-2 pr-10 text-tertiary shadow-inner focus:outline-none focus:ring-2 focus:ring-sky-500 transition"
          (input)="searchTerm.set($any($event.target).value)"
        />
        <span
          class="absolute right-3 top-1/2 -translate-y-1/2 text-tertiary/60 pointer-events-none"
        >
          🔍
        </span>
      </div>
    </div> -->

    <!-- <div
      class="sticky top-[88px] z-30 bg-beige-darker/90 backdrop-blur-xl border-b border-black/10 rounded-xl"
    >
      <div class="flex gap-3 overflow-x-auto px-4 py-4 scrollbar-hide">
        @for (cat of categories; track cat.slug) {
          <div class="relative">
            <button
              (click)="activeCategory.set(cat.slug); activeSubCategory.set(null)"
              class="relative px-5 py-2.5 rounded-xl whitespace-nowrap text-sm font-semibold transition-all duration-300 border shadow-sm hover:scale-105 cursor-pointer"
              [class.bg-tertiary]="activeCategory() === cat.slug"
              [class.text-white]="activeCategory() === cat.slug"
              [class.border-tertiary]="activeCategory() === cat.slug"
              [class.shadow-lg]="activeCategory() === cat.slug"
              [class.bg-white]="activeCategory() !== cat.slug"
              [class.text-tertiary]="activeCategory() !== cat.slug"
              [class.border-black/10]="activeCategory() !== cat.slug"
            >
              {{ cat.name }}

              @if (activeCategory() === cat.slug) {
                <span
                  class="absolute -bottom-1 left-1/2 -translate-x-1/2 h-1 w-6 rounded-full bg-sky-400 animate-pulse"
                ></span>
              }
            </button>
            @if (activeCategory() === cat.slug && cat.subcategories?.length) {
              <div
                class="absolute left-1/2 -translate-x-1/2 mt-3 z-40 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.25)] border border-black/10 p-3 flex gap-2 animate-fade-in"
              >
                @for (sub of cat.subcategories; track sub.slug) {
                  <button
                    (click)="activeSubCategory.set(sub.slug)"
                    class="px-4 py-1.5 rounded-full text-xs font-semibold whitespace-nowrap transition cursor-pointer"
                    [class.bg-sky-500]="activeSubCategory() === sub.slug"
                    [class.text-white]="activeSubCategory() === sub.slug"
                    [class.bg-sky-50]="activeSubCategory() !== sub.slug"
                    [class.text-tertiary]="activeSubCategory() !== sub.slug"
                    [class.hover:bg-sky-100]="activeSubCategory() !== sub.slug"
                  >
                    {{ sub.name }}
                  </button>
                }
              </div>
            }
          </div>
        }
      </div>
    </div> -->

    <div
      class="sticky top-[74px] z-30 bg-beige-darker/60 backdrop-blur-xs border-b border-black/10 rounded-xl mb-4"
    >
      <div class="flex gap-4 overflow-x-auto px-4 py-3 scrollbar-hide items-start">
        @for (cat of categories; track cat.slug) {
          <div class="flex flex-col items-center shrink-0">
            <button
              (click)="selectCategory(cat.slug)"
              class="relative px-5 py-1.5 rounded-xl whitespace-nowrap text-sm font-semibold transition-all duration-300 border shadow-sm hover:scale-105 cursor-pointer"
              [class.bg-tertiary]="activeCategory() === cat.slug"
              [class.text-white]="activeCategory() === cat.slug"
              [class.border-tertiary]="activeCategory() === cat.slug"
              [class.shadow-lg]="activeCategory() === cat.slug"
              [class.bg-white]="activeCategory() !== cat.slug"
              [class.text-tertiary]="activeCategory() !== cat.slug"
              [class.border-black/10]="activeCategory() !== cat.slug"
            >
              {{ cat.name }}

              @if (activeCategory() === cat.slug) {
                <span
                  class="absolute -bottom-1 left-1/2 -translate-x-1/2 h-1 w-6 rounded-full bg-sky-400 animate-pulse"
                ></span>
              }
            </button>
            @if (activeCategory() === cat.slug && cat.subcategories?.length) {
              <div class="mt-1.5 flex flex-row gap-2 w-full animate-fade-in">
                @for (sub of cat.subcategories; track sub.slug) {
                  <button
                    (click)="selectSubCategory(sub.slug)"
                    class="px-4 py-1.5 rounded-lg text-xs font-semibold transition cursor-pointer text-left"
                    [class.bg-sky-400]="activeSubCategory() === sub.slug"
                    [class.text-white]="activeSubCategory() === sub.slug"
                    [class.bg-white]="activeSubCategory() !== sub.slug"
                    [class.text-tertiary]="activeSubCategory() !== sub.slug"
                    [class.border]="true"
                    [class.border-black/10]="activeSubCategory() !== sub.slug"
                    [class.shadow-sm]="activeSubCategory() === sub.slug"
                    [class.hover:bg-sky-50]="activeSubCategory() !== sub.slug"
                  >
                    {{ sub.name }}
                  </button>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="flex flex-col gap-4 mb-4 pt-0 sm:flex-row sm:items-center sm:justify-between">
      <h2
        class="text-2xl font-bold text-tertiary tracking-wider drop-shadow-[0_2px_4px_rgba(0,0,0,0.25)] text-left"
      >
        @if (this.getActiveCategory()?.name! === 'All') {
          All Products
        } @else {
          @if (!activeSubCategoryObj()) {
            {{ this.getActiveCategory()?.name }}
          } @else {
            {{ this.getActiveCategory()?.name }}
            ›
            <span class="text-xl text-sky-400">{{
              this.activeSubCategoryObj()?.subcategory?.name
            }}</span>
          }
        }
      </h2>

      <div class="flex flex-col sm:flex-row gap-3 w-full sm:w-auto text-sm">
        <div class="relative w-full sm:max-w-xs">
          <input
            type="text"
            placeholder="Search Products..."
            class="w-full rounded-xl bg-beige-lighter border-2 border-black/10 px-4 py-2 pr-10 text-tertiary shadow-inner focus:outline-none focus:ring-2 focus:ring-sky-500 transition"
            (input)="searchTerm.set($any($event.target).value)"
          />
          <span
            class="absolute right-3 top-1/2 -translate-y-1/2 text-tertiary/60 pointer-events-none"
          >
            🔍
          </span>
        </div>

        <div class="relative w-full sm:max-w-xs text-sm">
          <select
            class="w-full appearance-none rounded-xl bg-beige-lighter border-2 border-black/10 pl-4 pr-12 py-2 text-tertiary shadow-inner focus:outline-none focus:ring-2 focus:ring-sky-500 transition cursor-pointer"
            (change)="sortBy.set($any($event.target).value)"
          >
            <option value="name">Sort: Name (A-Z)</option>
            <option value="rating">Sort: Highest Rated</option>
            <!-- <option value="recent">🆕 Most Recent</option> -->
          </select>

          <span class="pointer-events-none absolute right-4 top-1/2 -translate-y-1/2">
            <svg
              class="h-4 w-4 text-tertiary/70"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>

    @if (isLoading()) {
      <div class="grid gap-8 md:grid-cols-3 mb-14">
        @for (i of [1, 2, 3, 4, 5, 6]; track i) {
          <div class="rounded-2xl p-6 bg-beige-lighter shadow flex flex-col space-y-4">
            <div class="skeleton h-[24vh] sm:h-[32vh] rounded-xl"></div>
            <div class="skeleton h-4 w-3/4 mx-auto rounded"></div>
            <div class="skeleton h-3 w-full rounded"></div>
            <div class="skeleton h-3 w-2/3 rounded"></div>
            <div class="skeleton h-8 w-full rounded-xl mt-auto"></div>
          </div>
        }
      </div>
    } @else if (filteredProducts().length > 0) {
      <div class="grid gap-8 md:grid-cols-3 mb-14">
        @for (product of filteredProducts(); track $index) {
          <div
            class="group bg-beige-lighter rounded-2xl p-6 text-center border border-beige-lighter shadow-[0_20px_40px_rgba(0,0,0,0.25)] hover:shadow-[0_30px_70px_rgba(0,0,0,0.35)] hover:border-sky-500 transition-all duration-300 flex flex-col h-full"
          >
            <!-- <img
              [src]="product?.imageBase64?.[0]"
              class="h-[40vh] w-full object-contain rounded-xl mb-5 bg-black cursor-zoom-in"
              (click)="openImageZoom($event, product?.imageBase64?.[0])"
            /> -->
            <div
              class="relative group"
              (touchstart)="onTouchStart($event, product.id!)"
              (touchend)="onTouchEnd($event, product.id!, product.imageBase64.length)"
            >
              <!-- <img
                [src]="product.imageBase64[cardImageIndex(product.id!)]"
                class="h-[24vh] sm:h-[40vh] w-full object-contain rounded-xl bg-black cursor-zoom-in transition"
                (click)="openImageZoom($event, product.imageBase64[cardImageIndex(product.id!)])"
              /> -->
              @if (product?.imageBase64?.length) {
                <img
                  [src]="product.imageBase64[cardImageIndex(product.id!)]"
                  class="h-[24vh] sm:h-[32vh] w-full object-contain rounded-xl bg-black cursor-zoom-in transition"
                  (click)="openImageZoom($event, product.imageBase64, cardImageIndex(product.id!))"
                />
              } @else {
                <img
                  src="./../../../../assets/images/placeholder_product_dark.svg"
                  class="h-[24vh] sm:h-[32vh] w-full object-contain rounded-2xl bg-black"
                />
              }
              @if (product.imageBase64.length > 1) {
                <button
                  class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/60 text-white h-8 w-8 rounded-full opacity-0 group-hover:opacity-100 transition cursor-pointer hover:bg-sky-600 animate-pulse"
                  (click)="prevCardImage($event, product.id!, product.imageBase64.length)"
                >
                  ‹
                </button>
                <button
                  class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/60 text-white h-8 w-8 rounded-full opacity-0 group-hover:opacity-100 transition cursor-pointer hover:bg-sky-600 animate-pulse"
                  (click)="nextCardImage($event, product.id!, product.imageBase64.length)"
                >
                  ›
                </button>
              }
              @if (product.imageBase64.length > 1) {
                <div class="absolute bottom-2 left-1/2 -translate-x-1/2 flex gap-1">
                  @for (img of product.imageBase64; track $index) {
                    <span
                      class="h-1.5 w-1.5 rounded-full"
                      [class.bg-white]="$index === cardImageIndex(product.id!)"
                      [class.bg-white/40]="$index !== cardImageIndex(product.id!)"
                    ></span>
                  }
                </div>
              }
            </div>
            <h3 class="text-lg font-semibold text-tertiary my-1">
              {{ product.productName }}
            </h3>
            <p class="text-sm text-tertiary/70 mb-0 transition-all">
              {{ getSummary(product.productSummary, product?.id!) }}
            </p>

            @if (product?.productSummary?.length! > SUMMARY_LIMIT) {
              <div>
                <button
                  class="text-xs font-semibold text-sky-500 hover:text-sky-600 transition cursor-pointer animate-pulse"
                  (click)="toggleSummary(product?.id!)"
                >
                  {{ isSummaryExpanded(product?.id!) ? 'Show Less ↑' : 'Show More ↓' }}
                </button>
              </div>
            }

            <!-- <div class="text-yellow-400 font-semibold my-1">{{ product.editorRating }} ★</div> -->

            <!-- <button
              class="mt-auto w-full rounded-xl bg-tertiary text-white py-2 text-sm font-semibold hover:bg-tertiary/90 transition shadow-md cursor-pointer"
              (click)="navigateToProductPage(product)"
            >
              View Details →
            </button> -->
            <div class="mt-auto">
              <div class="text-yellow-400 font-semibold my-1">{{ product.editorRating }} ★</div>
              <button
                class="mx-auto w-full block px-8 py-2 rounded-xl bg-white text-tertiary border-black/10 text-sm font-semibold shadow-lg transition-all duration-300 border hover:scale-105 cursor-pointer"
                (click)="navigateToProductPage(product)"
              >
                View Details →
              </button>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="text-center text-tertiary/70 text-lg py-12">No products found.</div>
    }
  </div>
  <!-- @if (zoomImage()) {
    <div
      class="fixed inset-0 z-[999] flex items-center justify-center bg-black/80 backdrop-blur-md"
      (click)="closeImageZoom()"
    >
      <div
        class="relative max-w-[90vw] max-h-[90vh] animate-[fadeIn_0.25s_ease-out]"
        (click)="$event.stopPropagation()"
      >
        <button
          class="absolute right-0 text-gray-900 font-extrabold animate-pulse px-3 text-xl rounded-sm hover:text-red-400 transition cursor-pointer bg-white"
          (click)="closeImageZoom()"
        >
          ✕
        </button>

        <img
          [src]="zoomImage()"
          class="max-h-[85vh] max-w-[85vw] object-contain rounded-sm shadow-[0_40px_120px_rgba(0,0,0,0.9)]"
        />
      </div>
    </div>
  } -->
  @if (zoomImages().length > 0) {
    <div
      class="fixed inset-0 z-[999] flex items-center justify-center bg-black/80 backdrop-blur-md"
      (click)="closeImageZoom()"
    >
      <div
        class="relative w-[90vw] h-[90vh] max-md:h-[70vh] touch-pan-y"
        (click)="$event.stopPropagation()"
        (touchstart)="onZoomTouchStart($event)"
        (touchend)="onZoomTouchEnd($event)"
      >
        <button
          class="absolute right-0 text-gray-900 font-extrabold animate-pulse px-3 text-xl rounded-sm hover:text-red-400 transition cursor-pointer bg-white"
          (click)="closeImageZoom()"
        >
          ✕
        </button>
        <img
          [src]="zoomImages()[zoomIndex()]"
          class="h-[86vh] max-md:h-[70vh] w-[90vw] object-contain rounded shadow-[0_40px_120px_rgba(0,0,0,0.9)]"
        />

        @if (zoomImages().length > 1) {
          <button
            class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/60 text-white h-12 w-12 rounded-full hover:bg-sky-500 transition animate-pulse cursor-pointer"
            (click)="prevZoomImage()"
          >
            ‹
          </button>
          <button
            class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/60 text-white h-12 w-12 rounded-full hover:bg-sky-500 transition animate-pulse cursor-pointer"
            (click)="nextZoomImage()"
          >
            ›
          </button>
        }
        <div class="flex justify-center gap-2 mt-4">
          @for (img of zoomImages(); track $index) {
            <button
              class="h-2.5 w-2.5 rounded-full transition"
              [class.cursor-pointer]="$index !== zoomIndex()"
              [class.bg-white]="$index === zoomIndex()"
              [class.bg-white/40]="$index !== zoomIndex()"
              (click)="zoomIndex.set($index)"
            ></button>
          }
        </div>
      </div>
    </div>
  }
</section>
<app-status-modal #modal />
