<section class="card">
  <!-- <button
    appBack
    fallbackRoute="/"
    class="fixed top-[13vh] left-6 z-[1000] flex items-center gap-2 px-4 py-2 rounded-lg bg-white/90 backdrop-blur-md shadow-xl hover:scale-105 active:scale-95 transition cursor-pointer"
  >
    <span class="text-xl">←</span>
    <span class="text-sm font-semibold hidden sm:block">Back</span>
  </button> -->
  <div class="max-w-5xl mx-auto space-y-12">
    <button
      appBack
      fallbackRoute="/"
      class="fixed top-[80px] z-[99] inline-flex items-center justify-center gap-1 px-2 py-1 mt-0.5 rounded-lg bg-white/90 backdrop-blur-md shadow-xl hover:scale-105 active:scale-95 transition cursor-pointer animate-pulse"
    >
      <span class="text-lg font-bold leading-none flex items-center justify-center"> ← </span>

      <span class="text-base font-bold leading-none flex items-center justify-center pr-2">
        Back
      </span>
    </button>
    <!-- <div class="flex items-center gap-3 mb-6">
      <button
        appBack
        fallbackRoute="/"
        class="group flex items-center gap-2 px-3 py-1 rounded-xl bg-beige-lighter hover:bg-beige-darker transition shadow-sm cursor-pointer"
      >
        <span class="text-lg transition-transform group-hover:-translate-x-1"> ← </span>
        <span class="text-sm font-semibold text-tertiary"> Back </span>
      </button>

      <div class="h-6 w-px bg-black/10"></div>

      <span class="text-sm text-slate-500 font-medium tracking-wide"> Product Details </span>
    </div> -->

    <section class="grid mb-4 md:grid-cols-2 gap-8">
      <div
        class="relative rounded-2xl overflow-hidden bg-black shadow-xl"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
      >
        <!-- @if (product()?.imageBase64?.length) {
          <img
            [src]="product()?.imageBase64?.[0]"
            class="h-[52vh] w-full object-contain rounded-2xl bg-black cursor-zoom-in pointer-events-auto relative z-10 shadow-[0_25px_60px_rgba(0,0,0,0.6)] hover:scale-[1.01] transition"
            (click)="openImageZoom(product()?.imageBase64?.[0]!)"
          />
        }  -->
        @if (product()?.imageBase64?.length) {
          <div class="relative group">
            <!-- <img
              [src]="product()?.imageBase64?.[activeImageIndex()]"
              class="h-[36vh] sm:h-[52vh] w-full object-contain rounded-2xl bg-black cursor-zoom-in pointer-events-auto relative z-10 shadow-[0_25px_60px_rgba(0,0,0,0.6)] hover:scale-[1.01] transition"
              (click)="openImageZoom(product()?.imageBase64?.[activeImageIndex()]!)"
            /> -->
            <img
              [src]="product()?.imageBase64?.[activeImageIndex()]"
              class="h-[36vh] sm:h-[52vh] w-full object-contain rounded-2xl bg-black cursor-zoom-in pointer-events-auto relative z-10 shadow-[0_25px_60px_rgba(0,0,0,0.6)] hover:scale-[1.01] transition"
              (click)="
                openImageZoom($event, product()?.imageBase64!, cardImageIndex(product()?.id!))
              "
            />
            @if (product()?.imageBase64?.length! > 1) {
              <button
                class="absolute left-3 top-1/2 -translate-y-1/2 z-20 h-9 w-9 rounded-full bg-black/60 text-white opacity-0 group-hover:opacity-100 transition cursor-pointer hover:bg-sky-600 animate-pulse"
                (click)="prevImage($event)"
              >
                ‹
              </button>
              <button
                class="absolute right-3 top-1/2 -translate-y-1/2 z-20 h-9 w-9 rounded-full bg-black/60 text-white opacity-0 group-hover:opacity-100 transition cursor-pointer hover:bg-sky-600 animate-pulse"
                (click)="nextImage($event)"
              >
                ›
              </button>
            }
            @if (product()?.imageBase64?.length! > 1) {
              <div class="absolute bottom-2 left-1/2 -translate-x-1/2 z-20 flex gap-2">
                @for (img of product()?.imageBase64; track $index) {
                  <span
                    class="h-2 w-2 rounded-full transition"
                    [class.bg-white]="$index === activeImageIndex()"
                    [class.bg-white/40]="$index !== activeImageIndex()"
                  ></span>
                }
              </div>
            }
          </div>
        } @else {
          <img
            src="./../../../../assets/images/placeholder_product_dark.svg"
            class="h-[36vh] sm:h-[52vh] w-full object-contain"
          />
        }
        @if (product()?.youtubeUrl) {
          <button
            class="absolute bottom-5 left-1/2 -translate-x-1/2 px-6 py-2 rounded-xl bg-red-600/90 text-white text-sm font-semibold hover:bg-red-700 z-30 transition shadow-lg backdrop-blur cursor-pointer animate-pulse"
            (click)="openVideoZoom(product()?.youtubeUrl!)"
          >
            ▶ Watch Video
          </button>
        }

        <div class="absolute inset-0 bg-gradient-to-t from-black/40 via-transparent"></div>
      </div>

      <div class="space-y-4">
        <h1 class="text-3xl font-extrabold text-tertiary">
          {{ product()?.productName }}
        </h1>

        <!-- <p class="text-base font-semibold text-slate-500">
          <span class="font-extrabold">Product Description: </span>
          {{ product()?.productSummary }}
        </p> -->
        <p class="text-base font-semibold text-slate-500 mb-0">
          <span class="font-extrabold">Product Description: </span>
          {{ getSummary(product()?.productSummary!, product()?.id!) }}
        </p>

        @if (product()?.productSummary?.length! > SUMMARY_LIMIT) {
          <button
            class="text-xs font-semibold text-sky-400 hover:text-sky-500 transition cursor-pointer animate-pulse"
            (click)="toggleSummary(product()?.id!)"
          >
            {{ isSummaryExpanded(product()?.id!) ? 'Show Less ↑' : 'Show More ↓' }}
          </button>
        }

        <!-- <p class="text-sm leading-relaxed text-slate-600">
          <span class="font-extrabold">Editor Review: </span>
          {{ product()?.editorReview }}
        </p> -->
        <p class="text-sm leading-relaxed text-slate-600 mb-0">
          <span class="font-extrabold">Editor Review: </span>
          {{ getReview(product()?.editorReview!, product()?.id!) }}
        </p>

        @if (product()?.editorReview?.length! > REVIEW_LIMIT) {
          <button
            class="text-xs font-semibold text-sky-400 hover:text-sky-500 transition cursor-pointer animate-pulse"
            (click)="toggleReview(product()?.id!)"
          >
            {{ isReviewExpanded(product()?.id!) ? 'Show Less ↑' : 'Show More ↓' }}
          </button>
        }
      </div>
    </section>

    <section class="grid sm:grid-cols-2 gap-4">
      <div class="flex items-center justify-center gap-2 rounded-xl bg-beige-lighter p-4 shadow-lg">
        <span class="text-sm font-semibold text-slate-500">Editor Score</span>
        <span class="text-xl font-bold text-sky-500"> {{ product()?.editorRating }} ★ </span>
      </div>

      <div class="flex items-center justify-center gap-2 rounded-xl bg-beige-darker p-4 shadow-lg">
        <span class="text-sm font-semibold text-slate-500">User Score</span>
        <span class="text-xl font-bold text-yellow-400"> {{ userScore() }} ★ </span>
      </div>
    </section>

    @if (sortedExperiences().length > 0) {
      <!-- <div class="relative w-full sm:w-auto inline-block text-left">
        <button
          type="button"
          (click)="isOpen.set(!isOpen())"
          class="flex w-full sm:w-auto items-center justify-between gap-2 rounded-xl bg-tertiary pl-4 pr-10 py-2 text-slate-200 shadow-lg hover:bg-slate-700 transition cursor-pointer"
        >
          <span>Sort: {{ sortLabel() }}</span>
          <span class="pointer-events-none absolute right-4 top-1/2 -translate-y-1/2">
            <svg
              class="h-4 w-4 text-slate-200"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </span>
        </button>

        <div
          *ngIf="isOpen()"
          class="absolute left-0 sm:right-0 sm:left-auto mt-2 w-full sm:w-45 rounded-xl bg-slate-900 border border-slate-800 shadow-xl z-10"
        >
          <button
            class="dropdown-item cursor-pointer"
            [class.active]="sortBy() === 'recent'"
            (click)="sortBy.set('recent'); isOpen.set(false)"
          >
            Most Recent
          </button>

          <button
            class="dropdown-item cursor-pointer"
            [class.active]="sortBy() === 'longest'"
            (click)="sortBy.set('longest'); isOpen.set(false)"
          >
            Longest Use
          </button>

          <button
            class="dropdown-item cursor-pointer"
            [class.active]="sortBy() === 'helpful'"
            (click)="sortBy.set('helpful'); isOpen.set(false)"
          >
            Most Helpful
          </button>
        </div>
      </div> -->
      <div class="flex flex-col gap-4 mb-4 pt-0 sm:flex-row sm:items-center sm:justify-between">
        <h2
          class="text-2xl font-bold text-tertiary tracking-wider drop-shadow-[0_2px_4px_rgba(0,0,0,0.25)] text-center sm:text-left animate-bounce"
        >
          User Experiences
        </h2>

        <div class="flex flex-col sm:flex-row gap-3 w-full sm:w-auto">
          <div class="relative w-full sm:max-w-xs">
            <select
              class="w-full appearance-none rounded-xl bg-beige-lighter border border-black/10 pl-4 pr-12 py-2 text-tertiary shadow-inner focus:outline-none focus:ring-2 focus:ring-sky-500 transition cursor-pointer"
              (change)="sortBy.set($any($event.target).value)"
            >
              <option value="recent">Sort: Most Recent</option>
              <option value="longest">Sort: Longest Use</option>
              <option value="helpful">Sort: Most Helpful</option>
            </select>

            <span class="pointer-events-none absolute right-4 top-1/2 -translate-y-1/2">
              <svg
                class="h-4 w-4 text-tertiary/70"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    }

    <section class="space-y-6">
      @if (sortedExperiences().length > 0) {
        <div class="grid lg:grid-cols-2 gap-4">
          <div
            *ngFor="let exp of sortedExperiences()"
            class="rounded-2xl bg-slate-600/90 p-5 shadow-xl hover:shadow-2xl transition"
          >
            <div class="flex justify-between items-start mb-2">
              <div>
                <p class="text-slate-100 font-semibold">
                  {{ exp.userName }}
                  <span class="text-xs text-slate-300"> ({{ exp.mail }}) </span>
                </p>
                <p class="text-xs text-slate-300">
                  {{ formatTimeAgo(exp.createdAt.toString()) }}
                </p>
              </div>

              <span class="flex items-center gap-1 text-yellow-400 font-bold">
                {{ exp.rating }} ★
              </span>
            </div>

            <!-- <p class="text-slate-200 text-sm leading-relaxed mb-4">
              {{ exp.comment }}
            </p> -->
            <p class="text-slate-200 text-sm leading-relaxed">
              {{ getUserReview(exp?.comment!, exp?.id!) }}
            </p>

            @if (exp?.comment?.length! > USER_REVIEW_LIMIT) {
              <button
                class="text-xs font-semibold text-sky-400 hover:text-sky-500 transition cursor-pointer mb-2 animate-pulse"
                (click)="toggleUserReview(exp?.id!)"
              >
                {{ isUserReviewExpanded(exp?.id!) ? 'Show Less ↑' : 'Show More ↓' }}
              </button>
            }

            <div class="flex justify-between items-center text-xs text-slate-200 mt-2">
              <span class="italic"> Used for {{ exp.monthsUsed }} months </span>

              <div class="flex gap-4">
                <button
                  class="hover:text-green-400 transition cursor-pointer animate-pulse"
                  (click)="vote(exp.id, 'helpful')"
                >
                  👍 Helpful ({{ exp.helpful }})
                </button>
                <button
                  class="hover:text-red-400 transition cursor-pointer animate-pulse"
                  (click)="vote(exp.id, 'notHelpful')"
                >
                  👎 Not Helpful ({{ exp.notHelpful }})
                </button>
              </div>
            </div>
          </div>
        </div>
      } @else {
        <div class="text-center text-slate-400 italic">
          No experiences yet. Be the first to share one!
        </div>
      }
    </section>

    <section class="">
      <div class="w-full max-w-5xl mx-auto rounded-2xl bg-secondary-50 p-8 shadow-2xl space-y-6">
        <h2 class="text-2xl font-extrabold text-center text-secondary-100">
          Share Your Experience
        </h2>

        @if (user()?.name) {
          @if (!experienceShared()) {
            <form [formGroup]="experienceForm" (ngSubmit)="submitExperience()" class="space-y-5">
              <div>
                <label class="block text-sm font-medium text-secondary-100 mb-2">
                  Your Experience
                  <span class="text-red-500">*</span></label
                >
                <textarea
                  formControlName="comment"
                  placeholder="Describe your real-world experience"
                  class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 placeholder:text-sm focus:outline-none focus:ring-2 focus:ring-sky-500"
                ></textarea>
                <div
                  *ngIf="comment.invalid && (comment.dirty || comment.touched)"
                  class="text-sm text-red-600 mt-1"
                >
                  <div *ngIf="comment.errors?.['required']">Your experience is required.</div>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium text-secondary-100 mb-2">
                  Months Used
                  <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  min="1"
                  step="1"
                  formControlName="monthsUsed"
                  inputmode="numeric"
                  (keydown)="blockDecimal($event)"
                  placeholder="Enter months in numeric (e.g. 7)"
                  class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 placeholder:text-sm focus:outline-none focus:ring-2 focus:ring-sky-500"
                />
                <div
                  *ngIf="monthsUsed.invalid && (monthsUsed.dirty || monthsUsed.touched)"
                  class="text-sm text-red-600 mt-1"
                >
                  <div *ngIf="monthsUsed.errors?.['required']">Months used is required.</div>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium text-secondary-100 mb-2">
                  Rating <span class="text-red-500">*</span></label
                >

                <div class="flex gap-2">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <svg
                      (click)="setRating(star)"
                      (mouseenter)="hoveredStar = star"
                      (mouseleave)="hoveredStar = 0"
                      class="w-8 h-8 cursor-pointer transition-transform hover:scale-110"
                      [class.text-yellow-400]="star <= (hoveredStar || rating.value)"
                      [class.text-slate-400]="star > (hoveredStar || rating.value)"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                  </ng-container>
                </div>
                <div *ngIf="rating.invalid" class="text-sm text-red-600 mt-1">
                  <div *ngIf="rating.errors?.['required']">Please select rating.</div>
                </div>
              </div>

              <!-- <button
                type="submit"
                [disabled]="experienceForm.invalid"
                class="w-full rounded-xl bg-tertiary py-3 font-semibold text-slate-100 hover:bg-sky-600 transition disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
              >
                Submit Experience
              </button> -->
              <div class="flex justify-end">
                <button
                  type="submit"
                  [disabled]="experienceForm.invalid"
                  class="bg-tertiary enabled:hover:bg-sky-600 text-slate-100 font-semibold px-5 py-3 rounded-lg ml-0 transition disabled:opacity-50 hover:cursor-pointer disabled:cursor-not-allowed w-70 max-md:w-full"
                >
                  Submit Experience
                </button>
              </div>
            </form>
          } @else {
            <div class="text-center space-y-4">
              <p class="text-tertiary text-sm">
                Thanks! You have already shared your experience for this product.
              </p>
            </div>
          }
        } @else {
          <div class="text-center space-y-4">
            <p class="text-tertiary text-sm">Login to share your experience</p>
            <button
              (click)="goToLogin()"
              class="rounded-xl bg-tertiary py-3 font-semibold text-slate-100 hover:bg-sky-600 transition cursor-pointer w-70 max-md:w-full"
            >
              Login to Continue
            </button>
          </div>
        }
      </div>
    </section>
  </div>
  <!-- @if (zoomImage()) {
    <div
      class="fixed inset-0 z-[999] flex items-center justify-center bg-black/80 backdrop-blur-sm"
      (click)="closeImageZoom()"
    >
      <div
        class="relative max-w-[90vw] max-h-[90vh] animate-[fadeIn_0.2s_ease-out]"
        (click)="$event.stopPropagation()"
      >
        <button
          class="absolute -top-10 right-0 text-white text-2xl hover:opacity-70 hover:text-red-400 transition cursor-pointer"
          (click)="closeImageZoom()"
        >
          ✕
        </button>
        <img
          [src]="zoomImage()"
          class="max-h-[85vh] max-w-[85vw] object-contain rounded-2xl shadow-[0_30px_100px_rgba(0,0,0,0.9)]"
        />
      </div>
    </div>
  } -->
  <!-- @if (zoomContent()) {
    <div
      class="fixed inset-0 z-[999] flex items-center justify-center bg-black/80 backdrop-blur-sm"
      (click)="closeZoom()"
    >
      <div
        class="relative max-w-[90vw] max-h-[90vh] animate-[fadeIn_0.2s_ease-out]"
        (click)="$event.stopPropagation()"
      >
        <button
          class="absolute right-0 text-gray-900 font-extrabold animate-pulse px-3 text-xl rounded-sm hover:text-red-400 transition cursor-pointer bg-white"
          (click)="closeZoom()"
        >
          ✕
        </button>
        @if (zoomContent()?.type === 'image') {
          <img
            [src]="zoomContent()?.src"
            class="max-h-[85vh] max-w-[85vw] object-contain rounded-sm shadow-[0_30px_100px_rgba(0,0,0,0.9)]"
          />
        }
        @if (zoomContent()?.type === 'video') {
          <div
            class="aspect-9/16 sm:aspect-video w-[90vw] sm:max-w-5xl max-h-[85vh] rounded-2xl overflow-hidden shadow-[0_30px_100px_rgba(0,0,0,0.9)] bg-black"
          >
            <iframe
              [src]="zoomContent()?.src"
              class="w-full h-full"
              frameborder="0"
              allow="autoplay; encrypted-media; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        }
      </div>
    </div>
  } -->
  @if (zoomContent()) {
    <div
      class="fixed inset-0 z-[999] flex items-center justify-center bg-black/80 backdrop-blur-sm"
      (click)="closeZoom()"
    >
      <div
        class="relative w-[90vw] h-[90vh] max-md:h-[70vh] touch-pan-y"
        (click)="$event.stopPropagation()"
        (touchstart)="onZoomTouchStart($event)"
        (touchend)="onZoomTouchEnd($event)"
      >
        <button
          class="absolute right-0 text-gray-900 font-extrabold animate-pulse px-3 text-xl rounded-sm hover:text-red-400 transition cursor-pointer bg-white"
          (click)="closeZoom()"
        >
          ✕
        </button>
        @if (zoomContent()?.type === 'image') {
          <img
            [src]="zoomImages()[zoomIndex()]"
            class="h-[86vh] max-md:h-[70vh] w-[90vw] object-contain rounded shadow-[0_40px_120px_rgba(0,0,0,0.9)]"
          />
          @if (zoomImages().length > 1) {
            <button
              class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/60 text-white h-12 w-12 rounded-full hover:bg-sky-500 transition animate-pulse cursor-pointer"
              (click)="prevZoomImage()"
            >
              ‹
            </button>
            <button
              class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/60 text-white h-12 w-12 rounded-full hover:bg-sky-500 transition animate-pulse cursor-pointer"
              (click)="nextZoomImage()"
            >
              ›
            </button>
          }
          <div class="flex justify-center gap-2 mt-4">
            @for (img of zoomImages(); track $index) {
              <button
                class="h-2.5 w-2.5 rounded-full transition"
                [class.cursor-pointer]="$index !== zoomIndex()"
                [class.bg-white]="$index === zoomIndex()"
                [class.bg-white/40]="$index !== zoomIndex()"
                (click)="zoomIndex.set($index)"
              ></button>
            }
          </div>
        }
        @if (zoomContent()?.type === 'video') {
          <div
            class="aspect-9/16 sm:aspect-video w-[90vw] sm:max-w-5xl max-h-[85vh] rounded-2xl overflow-hidden shadow-[0_30px_100px_rgba(0,0,0,0.9)] bg-black"
          >
            <iframe
              [src]="zoomContent()?.src"
              class="w-full h-full"
              frameborder="0"
              allow="autoplay; encrypted-media; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        }
      </div>
    </div>
  }
</section>
<app-status-modal #modal />
