<section class="card">
  <div class="max-w-5xl mx-auto space-y-12">
    <section class="grid md:grid-cols-2 gap-8">
      @if(product()?.imageBase64?.length){
      <img
        [src]="product()?.imageBase64?.[0]"
        class="h-[48vh] w-full object-contain rounded-lg mb-4 bg-black"
      />
      } @else {
      <img
        src="./../../../../assets/images/placeholder_product_dark.svg"
        alt="No image"
        class="h-60 w-full object-cover rounded-lg mb-4"
      />
      }
      <div>
        <h1 class="text-3xl font-bold text-tertiary mb-2">
          {{ product()?.productName }}
        </h1>
        <h1 class="text-xl font-bold text-tertiary mb-2">
          {{ product()?.productSummary }}
        </h1>
        <p class="text-lg leading-relaxed mb-4">
          {{ product()?.editorReview }}
        </p>
      </div>
    </section>

    <section class="grid sm:grid-cols-2 gap-4">
      <div class="bg-beige-lighter p-3 shadow-amber-950 shadow-lg rounded-xl text-center">
        <p class="text-slate-500 text-sm">Editor Score</p>
        <p class="text-3xl font-bold text-sky-400">{{ product()?.editorRating }} ★</p>
      </div>

      <div class="bg-beige-darker p-3 shadow-amber-950 shadow-lg rounded-xl text-center">
        <p class="text-slate-400 text-sm">User Score</p>
        <p class="text-3xl font-bold text-yellow-400">{{ userScore() }} ★</p>
      </div>
    </section>
    <div class="relative inline-block text-left">
      <button
        type="button"
        (click)="isOpen.set(!isOpen())"
        class="shadow-amber-950 shadow-lg rounded-xl flex items-center gap-2 px-4 py-2 bg-tertiary text-slate-300 hover:bg-slate-700 hover:text-white transition"
      >
        Sort: {{ sortLabel() }}
        <span class="text-xl">▾</span>
      </button>

      <div
        *ngIf="isOpen()"
        class="absolute right-0 mt-2 w-45 rounded-lg bg-slate-900 border border-slate-800 shadow-lg z-10"
      >
        <button
          class="dropdown-item"
          [class.active]="sortBy() === 'recent'"
          (click)="sortBy.set('recent'); isOpen.set(false)"
        >
          Most Recent
        </button>

        <button
          class="dropdown-item"
          [class.active]="sortBy() === 'longest'"
          (click)="sortBy.set('longest'); isOpen.set(false)"
        >
          Longest Use
        </button>

        <button
          class="dropdown-item"
          [class.active]="sortBy() === 'helpful'"
          (click)="sortBy.set('helpful'); isOpen.set(false)"
        >
          Most Helpful
        </button>
      </div>
    </div>

    <section class="space-y-6">
      @if(sortedExperiences().length > 0){
      <div
        *ngFor="let exp of sortedExperiences()"
        class="bg-slate-500 p-5 shadow-amber-950 shadow-xl rounded-xl"
      >
        <div class="flex justify-between mb-1">
          <span class="text-slate-100 font-medium pr-2">{{ exp.userName }}</span>
          <span class="flex justify-between">
            <span class="text-slate-100 font-medium pr-2 sm:pr-8"
              >({{ formatTimeAgo(exp.createdAt.toString()) }})</span
            >
            <span class="text-yellow-400">{{ exp.rating }} ★</span>
          </span>
        </div>

        <p class="text-slate-300 mb-3">
          {{ exp.comment }}
        </p>

        <div class="flex justify-between items-center text-sm text-slate-950">
          <span>Used for {{ exp.monthsUsed }} months</span>

          <div class="flex gap-4">
            <button class="hover:text-green-400" (click)="vote(exp.id, 'helpful')">
              👍 Helpful ({{ exp.helpful }})
            </button>
            <button class="hover:text-red-400" (click)="vote(exp.id, 'notHelpful')">
              👎 Not Helpful ({{ exp.notHelpful }})
            </button>
          </div>
        </div>
      </div>
      } @else {
      <div class="text-lg text-center">Be the first to share your experience.</div>
      }
    </section>
    <section class="card">
      <div
        class="w-full max-w-xl mx-auto bg-secondary-50 shadow-amber-950 shadow-2xl rounded-xl p-8"
      >
        <h2 class="text-3xl font-bold text-center mb-6 text-secondary-100">
          Share Your Experience
        </h2>
        @if (user()?.name) {

        <form [formGroup]="experienceForm" (ngSubmit)="submitExperience()" class="space-y-5">
          <div>
            <label class="block text-sm text-secondary-100 font-medium mb-2">
              Your Experience
            </label>
            <textarea
              formControlName="comment"
              placeholder="Describe your real-world experience"
              class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
            ></textarea>
            <p *ngIf="comment.invalid && comment.touched" class="text-sm text-red-600 mt-1">
              Experience is required.
            </p>
          </div>
          <div>
            <label class="block text-sm text-secondary-100 font-medium mb-2"> Months Used </label>
            <input
              type="number"
              min="1"
              step="1"
              formControlName="monthsUsed"
              placeholder="e.g. 6"
              inputmode="numeric"
              (keydown)="blockDecimal($event)"
              class="w-full rounded-lg bg-white border px-4 py-3 text-tertiary placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
            />
            <p *ngIf="monthsUsed.invalid && monthsUsed.touched" class="text-sm text-red-600 mt-1">
              Please add valid months used. Minimum: 1 month and Maximum: 120 months.
            </p>
          </div>
          <div>
            <label class="block text-sm text-secondary-100 font-medium mb-2"> Rating </label>

            <div class="flex items-center gap-2">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <svg
                  (click)="setRating(star)"
                  (mouseenter)="hoveredStar = star"
                  (mouseleave)="hoveredStar = 0"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="w-8 h-8 cursor-pointer transition"
                  [class.text-yellow-400]="star <= (hoveredStar || rating.value)"
                  [class.text-slate-400]="star > (hoveredStar || rating.value)"
                  fill="currentColor"
                >
                  <path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                  />
                </svg>
              </ng-container>
            </div>

            <p *ngIf="rating.invalid && rating.touched" class="text-sm text-red-600 mt-1">
              Please select a rating.
            </p>
          </div>
          <button
            type="submit"
            [disabled]="experienceForm.invalid"
            class="w-full bg-tertiary enabled:hover:bg-sky-600 text-slate-100 font-semibold rounded-lg py-3 transition cursor-not-allowed disabled:opacity-50 enabled:cursor-pointer"
          >
            Submit Experience
          </button>
        </form>

        } @else {
        <div class="space-y-6 text-center">
          <p class="text-tertiary">You need to be logged in to submit your experience.</p>

          <button
            (click)="goToLogin()"
            class="w-full bg-tertiary hover:bg-sky-600 text-slate-100 font-semibold rounded-lg py-3 transition cursor-pointer"
          >
            Login First
          </button>
        </div>

        }
      </div>
    </section>
  </div>
</section>
<app-status-modal #modal />
